description "Sidekiq manager"

start on runlevel [2345]
stop on runlevel [06]

env NUM_WORKERS={{ number_of_sidekiq_workers }}

pre-start script
  for i in `seq 0 $((${NUM_WORKERS} - 1))`
  do
    start sidekiq index=$i
  done
end script

pre-stop script
  for i in `seq 0 $((${NUM_WORKERS} - 1))`
  do
    stop sidekiq index=$i
  done
end script
