export RAILS_ENV=production

export MAX_UNICORN_REQUESTS_MIN=500
export MAX_UNICORN_REQUESTS_MAX=600
export MAX_UNICORN_OOM_MIN=320
export MAX_UNICORN_OOM_MAX=340
export MAX_SIDEKIQ_OOM={{ max_sidekiq_oom }}

export RUBY_GC_HEAP_OLDOBJECT_LIMIT_FACTOR=0.9
export RUBY_GC_HEAP_INIT_SLOTS=600000
export RUBY_GC_HEAP_FREE_SLOTS=600000
export RUBY_GC_HEAP_GROWTH_FACTOR=1.25
export RUBY_GC_HEAP_GROWTH_MAX_SLOTS=300000
